**

!app/
!config/
config/environments/
!config/environments/test.rb
!config/environments/production.rb
!lib/
!public/

!bin/rails
!config.ru
!Gemfile
!Gemfile.lock
!Rakefile

!tmp/
tmp/*
!log/
log/*
