# Ignore bundler config.
/.bundle

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore local settings
config/settings.local.yml

# Ignore coverage
coverage

# Ignore yard docs
.yardoc
doc
