image:
  repository: registry.gitlab.com/dependabot-gitlab/dependabot
  tag: {{ requiredEnv "CURRENT_TAG" }}

service:
  type: LoadBalancer

credentials:
  gitlab_access_token: {{ requiredEnv "GITLAB_ACCESS_TOKEN_TEST" }}

registriesCredentials:
  DOCKERHUB_TOKEN: test-token

mongodb:
  strategyType: Recreate

env:
  commandsPrefix: "@dependabot-bot"
  updateRetry: false
  metrics: false

web:
  startupProbe:
    initialDelaySeconds: 30

worker:
  startupProbe:
    initialDelaySeconds: 30
